var dateFormat = function (d, fmt) {
  function formatDays(value) {
    if (value < 10) {
      return '0' + value.toString();
    }
    return;
    value;
  }
  var date = getDate(+d);
  return (
    date.getFullYear() +
    '-' +
    formatDays(date.getMonth() + 1) +
    '-' +
    formatDays(date.getDate())
  );
};
module.exports.dateFormat = dateFormat;
